<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h3>{{title}}</h3>
  <dl>
    <div *ngFor="let iceCreamTub of iceCreamTubs">
      <dt>{{iceCreamTub.name}} <span class="ice-cream-brand">{{iceCreamTub.brand}}</span></dt>
      <dd>
        <h5>Flavor(s)</h5>
        <div class="ice-cream-info">
          <ul class="content-list">
            <li *ngFor="let content of iceCreamTub.contents" class="ice-cream-content">{{content.ingredient}}</li>
          </ul>
          <br>
          <p class="ice-cream-price">$ {{iceCreamTub.displayPrice()}}</p>
        </div>
      </dd>
    </div>
  </dl>

  <app-ice-cream-editor (clickDone)="finishEditing()" [childIceCreamTubs]="iceCreamTubs"></app-ice-cream-editor>

</div>
