<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h3>{{title}}</h3>
  <dl>
    <div *ngFor="let iceCreamTub of iceCreamTubs">
      <dt>{{iceCreamTub.name}} <span class="ice-cream-brand">{{iceCreamTub.brand}}</span></dt>
      <dd>
        <h5>Flavor(s)</h5>
        <div class="ice-cream-info">
          <ul class="flavor-list">
            <li *ngFor="let flavor of iceCreamTub.flavors" class="ice-cream-flavor">{{flavor}}</li>
          </ul>
          <br>
          <p class="ice-cream-price">$ {{iceCreamTub.displayPrice()}}</p>
        </div>
      </dd>
    </div>
  </dl>
</div>
