
dt {
  font-size: 25pt;
}

.ice-cream-brand {
  font-size: 20pt;
  color: grey;
}

ul {
  padding: 0;
}

ul li {
  display: inline-block;
}

.content-list {
  margin-bottom: -25px;
}

.ice-cream-content {
  list-style-type: none;
  color: grey;
  margin: 5px;
}

.ice-cream-price {
  list-style-type: none;
  margin-top: 5px;
}

.ice-cream-info {
  margin: 5px;
}
